* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    transition: all 1s ease;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e8e8ec;
  }